$topbg: #d6e6f3;
$primary: #fd6a00;
$secondary: #243065;
$danger: #fd0000;
$darkest: #12111e;
$dark: #363540;
$tertiary: #f5fdff;
$lightgray: #e7e7e8;
$gray: #7d7c83;
$success: #198807;
$light: #ffffff;
$blue: #32a0d1;
$light-blue: #9eedfa;
$transparent-blue: #c4c4c4;
$rating: #fcca48;
$pink: #ffede0;
